.general {
  height: 740px;
  width: 1110px;
  text-align: center;
  /* max-width: 1000px; */
  margin: auto;
  /* margin-bottom: 0px; */
  /* object-fit: cover; */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* display: flex; */
  /* flex-direction: column; */
}

/* .bar {
    margin-bottom: 0px;
} */

.form {
  height: 641px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.textField {
  margin-bottom: 10px !important;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
  /* align-items: stretch; */
  width: 900px;
}
.country {
  background-color: black !important;
  /* margin-bottom: 10px !important; */
  /* margin-left: auto;
  margin-right: auto; */
  /* display: flex; */
  /* align-items: stretch; */
  width: 900px;
  margin-left: 200px;
}

.concert {
  margin-top: 20px;
}
.rateBox {
  margin-top: 25px;
}