.general {
	max-width: 80vw;
	height: 100vh;
	text-align: center;
	margin: auto;
}

.form {
	background-color: white;
	height: 90vh;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
}

.textField {
	margin-bottom: 10px !important;
	margin: auto !important;
	width: 60%;
}

.btns {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
}