.general {
	width: 1110px !important;
	height: 740px !important;
	margin: auto !important;
}

.pageTitle {
	display: flex;
	justify-content: center;
}

.editForm {
	background-color: white;
	height: 650px;
	margin-top: 10px;
	border-radius: 4px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formControl {
	display: flex;
	align-items: center;
	width: 900px;
	margin-bottom: 10px !important;
}

.editInput {
	width: 900px;
	margin-bottom: 12px !important;
}

.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 200px;
}

.editBtn {
	display: flex;
	justify-content: space-evenly;
	margin: 15px;
	width: 350px;
}

.editRating {
	margin-top: 25px;
}

@media only screen and (max-width: 820px) {
	.general {
		width: 100% !important;
		margin: auto;
	}
	.editForm {
		height: 1070px;
		margin-top: 10px;
		padding: 10px;
	}
	.editInput {
		width: 700px;
		height: 70px;
		margin-bottom: 20px !important;
	}
	.formControl {
		width: 700px;
		margin-bottom: 25px !important;
		margin-bottom: 30px !important;
	}
	.editBtn {
		margin: 30px;
		width: 350px;
	}
	.btnStyle {
		width: 160px;
		height: 50px;
	}
}

@media only screen and (max-width: 730px) {
	.general {
		width: 100% !important;
	}
	.editForm {
		height: 750px;
	}
	.editInput {
		width: 500px;
		height: 70px;
	}
	.formControl {
		width: 500px;
	}
	.btnStyle {
		width: 160px;
		height: 40px;
	}
}

@media only screen and (max-width: 530px) {
	.editForm {
		height: 735px;
	}
	.editInput {
		width: 350px;
		height: 70px;
	}
	.formControl {
		width: 350px;
	}
	.starRating {
		font-size: 40px !important;
	}
	.btnStyle {
		width: 160px;
		height: 40px;
	}
}
