body {
  background-color: #010102;
}
.general {
  height: 740px;
  width: 1110px;
  text-align: center;
  margin: auto;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
}
.enterPage {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.h1 {
  font-family: "The Nautigal", cursive;
  font-size: 300px;
  height: 150px;
  color: aliceblue;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  font-size: 25px;
  text-align: center;
  height: 30px;
  padding: 5px 8px;
  margin-top: 110px;
  margin-bottom: 0px;
  margin-left: 450px;
}
.enterLink {
  color: aliceblue;
  margin: 0px;
  margin-top: 60px;
  font-size: 50px;
}
.createdBy {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.createdBy h2 {
  color: aliceblue;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
.namesGroup {
  text-align: center;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.names {
  margin: 0px 10px;
}
.names h3 {
  font-size: 20px;
  margin: 15px 0px 0px 0px;
}

@media only screen and (max-width: 950px) {
  body {
    background-color: #010102;
  }
  .general {
    height: 1165px;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 820px;
    display: flex;
    flex-direction: column;
  }

  .h1 {
    font-family: "The Nautigal", cursive;
    font-size: 280px;
    color: aliceblue;
    margin-top: 150px;
    margin-right: 40px;
  }
  .h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-size: 30px;
    margin-top: 93px;
    margin-left: 340px;
  }
  .enterLink {
    color: aliceblue;
    margin: 0px;
    margin-top: 210px;
    margin-bottom: 170px;
    font-size: 60px;
  }

  .createdBy h2 {
    letter-spacing: 2px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 440px) {
  body {
    background-color: #010102;
  }
  .general {
    height: 827px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 700px;
    display: flex;
    flex-direction: column;
  }

  .h1 {
    font-family: "The Nautigal", cursive;
    font-size: 150px;
    height: 120px;
    color: aliceblue;
    margin-top: 100px;
    margin-right: 25px;
  }
  .h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 160px;
  }
  .enterLink {
    color: aliceblue;
    margin: 0px;
    margin-top: 150px;
    margin-bottom: 110px;
    font-size: 40px;
  }

  .createdBy h2 {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .names h3 {
    font-size: 15px;
    margin: 15px 0px 0px 0px;
  }
}
