/* body {
  background-color: #1a1a18;
} */
.general {
  height: 740px;
  width: 1110px;
  text-align: center;
  /* max-width: 1000px; */
  margin: auto;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
}
.enterPage {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.h1 {
  font-family: "The Nautigal", cursive;
  font-size: 300px;
  height: 150px;
  color: aliceblue;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}
.h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  font-size: 25px;
  /* background-color: black; */
  border-radius: 10px;
  text-align: center;
  height: 30px;
  padding: 5px 8px;
  margin-top: 110px;
  margin-bottom: 0px;
  margin-left: 450px;
}
.enterLink {
  /* margin-top: 100px; */
  color: aliceblue;
  margin: 0px;
  margin-top: 60px;
  font-size: 50px;
}
.createdBy {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  /* font-size: 10px; */
}
.createdBy h2 {
  color: aliceblue;
  font-size: 16px;
  margin-bottom: 0px;
}
.namesGroup {
  text-align: center;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0px; */
}

.names {
  margin: 0px 10px;
}
.names h3 {
  font-size: 20px;
  margin: 15px 0px 0px 0px;
}
