.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.mainCard {
  margin: 10px;
  height: 190px;
  width: 530px;
  background-image: url(../../images/desktop-ticket.png);
  background-size: 590px;
}

.tourText {
  display: flex;
  width: max-content;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem !important;
}

.artistText {
  font-size: 1.1rem !important;
  font-weight: bolder !important;
  margin-top: -10px !important;
}

.cardOwner {
  text-align: center;
  font-size: 18px;
  position: relative;
  left: 176px;
  top: 24px;
}

.cardDateCountry {
  width: 180px;
  text-align: center;
  position: relative;
  bottom: 95px;
  left: 336px;
}

.editBtnLink {
  position: relative;
  bottom: 13px;
  left: 258px;
}

/* iPad Air 820 x 1180  */

@media (max-width: 820px) {
  .mainCard {
    height: 150px;
    width: 380px;
    background-image: url(../../images/ipad-ticket.png);
    background-size: 510px;
  }

  .tourText {
    font-size: 1rem !important;
  }

  .artistText {
    font-size: 0.9rem !important;
  }

  .cardOwner {
    left: 120px;
    top: 10px;
  }

  .cardDateCountry {
    font-size: 0.8rem !important;
    bottom: 90px;
    left: 205px;
  }

  .editBtnLink {
    bottom: 25px;
    left: 145px;
  }
}

/* iPhone 11 Pro Max / XR 414 x 896  */

@media (max-width: 414px) {
  .mainCard {
    height: 145px;
    width: 350px !important;
    background-size: 460px;
  }

  .cardOwner {
    left: 105px;
    top: 1px;
  }
  
  .cardDateCountry {
    font-size: 0.8rem !important;
    bottom: 95px;
    left: 175px;
  }

  .editBtnLink {
    bottom: 35px;
    left: 120px;
  }
}
