.mainCard {
	margin: 10px;
}

.cardHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold !important;
	font-size: 1.5rem !important;
}

.cardContent {
	padding-bottom: 0px;
}

.artist {
	font-size: 1.2rem !important;
	font-weight: bolder !important;
}

.cardInfo {
	font-size: 1rem;
	font-weight: bolder;
}

.cardActions {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-top: 0px;
}
